* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "LoL";
    src:
        local("lol-regular"),
        url("font/lol-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LoL-Bold";
    src: url("font/lol-bold.otf") format("opentype");
}

@font-face {
    font-family: "LoL-Medium";
    src: url("font/lol-medium.otf") format("opentype");
}

/* TEAM STYLE */

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100vw;
    height: 100vh;
}

#team1,
#team2 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2px;
    grid-template-rows: .5fr 1fr 1fr 1fr 1fr 1fr .5fr;
    transition: all .5s ease-in;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*aspect-ratio: auto 985 / 581;*/
    background-color: rgba(43, 43, 43, 0.1);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -20px;
    /*background-image: url("img/notfound.png");*/
}

.player h2 {
    color: white;
    text-align: left; 
    font-family: 'LoL-Bold';
}
#team2 .player h2 {
    text-align: right;
}

.player h4 {
    color: white;
    text-align: center;
    font-family: 'LoL-Medium';
}

.bans {
    background-color: rgba(43, 43, 43, 0.2);
    background-blend-mode: multiply;
    width: auto;
    height: auto;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("img/notfound_square.png");
}

#bansTeam1,
#bansTeam2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2px;
    grid-template-rows: 1fr;
}

/* Match Info */

#timer {
    color: white;
    font-family: 'LoL-Bold';
    font-size: xxx-large;
}

.score {
    font-size: xx-large;
    color: white;
    font-family: 'LoL-Bold';
    margin-top: 200%;
    /* visibility: hidden; */
}

.teamName h1 {
    color: white;
    font-family: 'LoL-Bold';
    margin: auto;
}
.teamName img {
    height: 128px;
    width: auto;
}

.teamName {
    display: flex;
    height: 100%;
}

/* SHADOW BEHIND TEAM */

.shadows {
    position: absolute;
    z-index: -5;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
}

.shade2 {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.blob {
    height: 100vh;
    filter: blur(10px);
    width: 500px;
}